/* =========================================================
   10-colors.css
   Chrome / Material You color layer
   ========================================================= */

:root {
  color-scheme: dark !important;

  /* Toolbar */
  --toolbar-bgcolor: var(--uc-foreground-bg) !important;
  --toolbar-color: var(--uc-text-1) !important;

  /* Selected tab */
  --tab-selected-bgcolor: var(--uc-foreground-bg) !important;
  --tab-selected-textcolor: var(--uc-text-1) !important;

  /* Urlbar */
  --lwt-toolbar-field-background-color: var(--uc-field-bg) !important;
  --lwt-toolbar-field-color: var(--uc-text-1) !important;
  --lwt-toolbar-field-border-color: transparent !important;

  --lwt-toolbar-field-focus: var(--uc-field-focus-bg) !important;
  --lwt-toolbar-field-focus-color: var(--uc-text-1) !important;

  --chrome-content-separator-color: transparent !important;
}

/* ---------- Frame ---------- */

#navigator-toolbox,
#titlebar,
#TabsToolbar {
  /* 將彩度從 0.075 降到 0.025，並同樣減去 15 度色相以對齊 Chrome */
  background-color: oklch(from AccentColor 0.59 0.055 h) !important;
    background-image:
        linear-gradient(
            to bottom,
            rgba(255,255,255,.035),
            rgba(255,255,255,.00)
        ) !important;
}
/* ---------- Toolbar ---------- */

#nav-bar,
#PersonalToolbar {
  background-color: var(--uc-foreground-bg) !important;
  background-image: none !important;
  color: var(--uc-text-1) !important;

  border-color: transparent !important;
  box-shadow: none !important;
}

/* ---------- Active Tab ---------- */

.tabbrowser-tab[selected] > .tab-stack > .tab-background,
.tabbrowser-tab[selected="true"] > .tab-stack > .tab-background,
.tabbrowser-tab[visuallyselected="true"] > .tab-stack > .tab-background {
  background-color: var(--uc-foreground-bg) !important;
  background-image: none !important;
  box-shadow: none !important;
}

/* ---------- Urlbar ---------- */

#urlbar-background,
#searchbar {
  background-color: var(--uc-field-bg) !important;
  border-color: transparent !important;
  box-shadow: none !important;
}

#urlbar[focused="true"] > #urlbar-background,
#searchbar:focus-within {
  background-color: var(--uc-field-focus-bg) !important;
}

#urlbar-input,
.searchbar-textbox {
  color: var(--uc-text-1) !important;
}

.tabbrowser-tab:not([selected]):hover
  > .tab-stack
  > .tab-background,
.tabbrowser-tab:not([visuallyselected]):hover
  > .tab-stack
  > .tab-background {
  background-color: rgba(0, 0, 0, 0.18) !important;
  background-image: none !important;
}
